.navigation-links1-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navigation-links1-text1 {
    margin-left: var(--dl-space-space-twounits);
}

.navigation-links1-text2 {
    margin-left: var(--dl-space-space-twounits);
}

.navigation-links1-text3 {
    margin-left: var(--dl-space-space-twounits);
}

.navigation-links1-text4 {
    margin-left: var(--dl-space-space-twounits);
}


@media (max-width: 767px) {
    .navigation-links1-nav {
        align-items: flex-start;
        flex-direction: column;
    }

    .navigation-links1-text {
        margin-bottom: var(--dl-space-space-unit);
    }

    .navigation-links1-text1 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .navigation-links1-text2 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .navigation-links1-text3 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }

    .navigation-links1-text4 {
        margin-left: 0;
        margin-bottom: var(--dl-space-space-unit);
    }
}

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.home-header {
    width: 100%;
    height: 72px;
    display: flex;
    max-width: auto;
    align-self: flex-start;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
    background-color: #fbfbfb;
}

.home-link {
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

.home-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.home-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home-container01 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
}

.home-image {
    height: 2rem;
}

.home-close-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
}

.home-features {
    width: 1418px;
    height: 1039px;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    flex-direction: column;
}

.home-text {
    font-size: 3rem;
    align-self: stretch;
    text-align: center;
    margin-bottom: var(--dl-space-space-threeunits);
}

.home-container02 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
}

.home-feature-card {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.home-icon02 {
    fill: var(--dl-color-gray-500);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-container03 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text01 {
    font-weight: 600;
    text-align: justify;
    margin-bottom: var(--dl-space-space-unit);
}

.home-container04 {
    flex: 0 0 auto;
    width: Medium;
    height: 116px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
}

.q1-b1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(99, 255, 35);
}

.q1-b2 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(255, 62, 62);
}

.home-feature-card1 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.home-icon04 {
    fill: var(--dl-color-gray-500);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-container05 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text05 {
    font-weight: 600;
    text-align: justify;
    margin-bottom: var(--dl-space-space-unit);
}

.home-text06 {
    text-align: justify;
    font-weight: 700;
}

.home-text07 {
    font-style: normal;
}

.home-text08 {
    font-weight: 400;
}

.home-container06 {
    flex: 0 0 auto;
    width: Medium;
    height: 116px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
}

.q2-b1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(99, 255, 35);
}

.q2-b2 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(255, 62, 62);
}

.home-feature-card2 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.home-icon06 {
    fill: var(--dl-color-gray-500);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-container07 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text09 {
    font-weight: 600;
    text-align: justify;
    margin-bottom: var(--dl-space-space-unit);
}

.home-text00 {
    text-align: justify;
    font-weight: 400;
}

.home-text10 {
    text-align: justify;
    font-weight: 700;
}

.home-text12 {
    font-style: normal;
    font-weight: 400;
}

.home-container08 {
    flex: 0 0 auto;
    width: Medium;
    height: 116px;
    display: flex;
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
}

.q3-b1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(99, 255, 35);
}

.q3-b2 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(255, 62, 62);
}

.home-feature-card3 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.home-icon08 {
    fill: var(--dl-color-gray-500);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-container09 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text13 {
    font-weight: 600;
    text-align: justify;
    margin-bottom: var(--dl-space-space-unit);
}

.home-text14 {
    text-align: justify;
    font-weight: 700;
}

.home-text15 {
    font-weight: 700;
}

.home-text16 {
    font-style: normal;
    font-weight: 400;
}

.home-container10 {
    flex: 0 0 auto;
    width: Medium;
    height: 116px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
}

.q4-b1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(99, 255, 35);
}

.q4-b2 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(255, 62, 62);
}

.home-feature-card4 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.home-icon10 {
    fill: var(--dl-color-gray-500);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-container11 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text17 {
    font-weight: 600;
    text-align: justify;
    margin-bottom: var(--dl-space-space-unit);
}

.home-text20 {
    text-align: justify;
    font-weight: 700;
}

.home-text22 {
    font-style: normal;
    font-weight: 400;
}

.home-container12 {
    flex: 0 0 auto;
    width: Medium;
    height: 116px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
}

.q5-b1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(99, 255, 35);
}

.q5-b2 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(255, 62, 62);
}

.home-feature-card5 {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.home-icon12 {
    fill: var(--dl-color-gray-500);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-container13 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text23 {
    font-weight: 600;
    text-align: justify;
    margin-bottom: var(--dl-space-space-unit);
}

.home-text24 {
    text-align: justify;
}

.home-text25 {
    font-weight: 700;
}

.home-container14 {
    flex: 0 0 auto;
    width: Medium;
    height: 116px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
}

.q6-b1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(99, 255, 35);
}

.q6-b2 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(255, 62, 62);
}

.home-feature-card6 {
    width: 100%;
    visibility: hidden;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.home-icon14 {
    fill: var(--dl-color-gray-500);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-container15 {
    width: 424px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text27 {
    font-weight: 600;
    text-align: justify;
    margin-bottom: var(--dl-space-space-unit);
}

.home-text28 {
    text-align: justify;
}

.home-text29 {
    font-weight: 700;
}

.home-container16 {
    flex: 0 0 auto;
    width: Medium;
    height: 116px;
    display: flex;
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
}

.q7-b1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(99, 255, 35);
}

.q7-b2 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
    align-self: center;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-weight: 700;
    margin-left: 0px;
    background-color: rgb(255, 62, 62);
}

.home-feature-card7 {
    width: 100%;
    visibility: hidden;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #a1ff8b;
}

.home-icon16 {
    fill: var(--dl-color-gray-500);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-container17 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.home-text31 {
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
}

.home-text33 {
    font-style: normal;
    font-weight: 800;
}

.home-text34 {
    text-align: justify;
    font-weight: 400;
}

.button-clicked {
    outline: 5px solid black; /* You can customize the outline color and style */
}

@media (max-width: 767px) {
    .home-header {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-features {
        padding-left: var(--dl-space-space-twounits);
        padding-right: var(--dl-space-space-twounits);
    }

    .home-container02 {
        grid-template-columns: 1fr;
    }

    .home-feature-card {
        flex-direction: row;
    }

    .home-container03 {
        flex-direction: column;
    }

    .home-feature-card1 {
        flex-direction: row;
    }

    .home-container05 {
        flex-direction: column;
    }

    .home-feature-card2 {
        flex-direction: row;
    }

    .home-container07 {
        flex-direction: column;
    }

    .home-feature-card3 {
        flex-direction: row;
    }

    .home-container09 {
        flex-direction: column;
    }

    .home-feature-card4 {
        flex-direction: row;
    }

    .home-container11 {
        flex-direction: column;
    }

    .home-feature-card5 {
        flex-direction: row;
    }

    .home-container13 {
        flex-direction: column;
    }

    .home-feature-card6 {
        flex-direction: row;
    }

    .home-container15 {
        flex-direction: column;
    }

    .home-feature-card7 {
        flex-direction: row;
    }

    .home-container17 {
        flex-direction: column;
    }
}

@media (max-width: 479px) {
    .home-header {
        padding: var(--dl-space-space-unit);
    }

    .home-mobile-menu {
        padding: 16px;
    }

    .home-features {
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-unit);
        padding-right: var(--dl-space-space-unit);
        padding-bottom: var(--dl-space-space-twounits);
    }

    .home-container03 {
        flex-direction: column;
    }

    .home-container05 {
        flex-direction: column;
    }

    .home-container07 {
        flex-direction: column;
    }

    .home-container09 {
        flex-direction: column;
    }

    .home-container11 {
        flex-direction: column;
    }

    .home-container13 {
        flex-direction: column;
    }

    .home-container15 {
        flex-direction: column;
    }

    .home-container17 {
        flex-direction: column;
    }
}
